<nav class="flex items-center justify-between font-sans text-lg font-bold h-24 bg-black/90">
      <div class="flex items-center space-x-10 px-14">
        <a class="text-white cursor-pointer hover:text-yellow-500">
          Főodal
        </a>
        <a class="text-white cursor-pointer hover:text-yellow-500">
          Menü
        </a>
        <a class="text-white cursor-pointer hover:text-yellow-500">
          Étlap
        </a>
        <a class="text-white cursor-pointer hover:text-yellow-500">
          Rólunk
        </a>
        <a class="text-white cursor-pointer hover:text-yellow-500">
          Kapcsolat
        </a>
      </div>
      <div class="flex items-center px-10">
        <a class="text-white cursor-pointer hover:text-yellow-500">
          Telefonszám
        </a>
      </div>
</nav>

<div class="">
  <router-outlet></router-outlet>
</div>
