<nav class="flex items-center justify-between font-sans text-lg font-bold h-24 bg-black/90">
      <div class="flex items-center space-x-10 px-14">
        <a routerLink="/home" class="text-white cursor-pointer hover:text-yellow-500">
          Főodal
        </a>
        <a routerLink="/heti-menu" class="text-white cursor-pointer hover:text-yellow-500">
          Menü
        </a>
        <a routerLink="/etlap" class="text-white cursor-pointer hover:text-yellow-500">
          Étlap
        </a>
        <a routerLink="/rolunk" class="text-white cursor-pointer hover:text-yellow-500">
          Rólunk
        </a>
        <a routerLink="/kapcsolat" class="text-white cursor-pointer hover:text-yellow-500">
          Kapcsolat
        </a>
      </div>
      <div class="flex items-center px-10">
        <a class="text-white cursor-pointer hover:text-yellow-500">
          Telefonszám
        </a>
      </div>
</nav>

<router-outlet></router-outlet>
