
  <div class="relative">
    <div class="flex justify-center">
      <img 
      src="https://lh3.googleusercontent.com/p/AF1QipNMvN9omHN0n4G1w-uC18puwbuawDgICZj95trE=s0" 
      alt=""
      class="object-cover w-full h-[50rem]"
    >
    <img
      src="assets/logohq-01.png"
      class="object-cover h-96 mx-auto rounded-b-lg absolute inset-20"
    />
    </div>
  </div>
    
<div class="bg-white pb-20 mt-10 mx-72">
  <div class="grid grid-cols-3 gap-y-10 justify-items-center text-lg">
    <div class="col-span-1">
      <a routerLink="/levesek" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Levesek</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/szarnyas-etelek" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Szárnyas ételek</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/haletelek" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Halételek</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/magyar-konyha-remekei" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Magyar Konyha Remekei</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/frissensultek" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Frissensültek</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/tobbszemelyes-etelek" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Többszemélyes ételek</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/salatak" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Saláták</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/husmentes-etelek" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Húsmentes ételek</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/gyrosetelek" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Gyrosételek</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/alkoholmentes-italok" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Alkoholmentes italok</div>
      </a>
    </div>
    <div class="col-span-1">
      <a routerLink="/alkoholos-italok" class="hover:opacity-90 text-center">
        <img 
        src="https://imgs.search.brave.com/IWhGZF7WniZgBezvQ4-PA7-gS_hr4uRal9yvzrxJHrA/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2ZmLzZk/LzhhL2ZmNmQ4YWU1/ZjkwMzUzY2VlZDQx/MDU2NTkzNTcyNWQ2/LmpwZw" 
        alt=""
        class="object-cover h-80 w-80 rounded-full"
        >
        <div>Alkoholos italok</div>
      </a>
    </div>
  </div>
</div>